<div class="row">
    <div class="footer-col col-md-4">
        <h4>Über RDMO</h4>
        <p>
            Der Research Data Management Organiser unterstützt die systematische Planung, Organisation und Durchführung des Datenmanagements im Verlauf eines Forschungsprojekts.
        </p>
        <p>
            RDMO ist eine Open-Source-Software und unter <a href="https://github.com/rdmorganiser/rdmo">https://github.com/rdmorganiser/rdmo</a> verfügbar.
        </p>
    </div>
    <div class="footer-col col-md-4">
        <h4>Kontakt</h4>
        <p>
          Wenn Sie Fragen zu unserem Angebot haben oder Unterstützung
          bei der Erstellung eines DMP benötigen, melden Sie sich
          gerne bei
          dem <a href="mailto:forschungsdaten@uni-mannheim.de">Team
          des Forschungsdatenzentrums</a> (FDZ) der Universität
          Mannheim.
        </p>
    </div>
    <div class="footer-col col-md-4">
        <h4><a href="https://www.uni-mannheim.de/impressum/">Impressum</a> und <a href="https://www.uni-mannheim.de/datenschutzerklaerung/">Datenschutz</a></h4>
        <p>

        </p>
    </div>
</div>
