<div class="row">
    <div class="footer-col col-md-4">
        <h4>About RDMO</h4>
        <p>
            The Research Data Management Organiser supports the systematic planning, organisation and implementation of the data management throughout the course of a research project.
        </p>
        <p>
            RDMO is open source software and available at <a href="https://github.com/rdmorganiser/rdmo">https://github.com/rdmorganiser/rdmo</a>
        </p>
    </div>
    <div class="footer-col col-md-4">
        <h4>Contact</h4>
        <p>
          For any questions or assistance, please contact
  the <a href="mailto:forschungsdaten@uni-mannheim.de">team of the
  research data center</a> (FDZ) at the University of Mannheim.  Login
  Username Password

        </p>
    </div>
    <div class="footer-col col-md-4">
        <h4><a href="https://www.uni-mannheim.de/impressum/">Imprint</a> and <a href="https://www.uni-mannheim.de/datenschutzerklaerung/">data protection</a></h4>
        <p>

        </p>
    </div>
</div>
