<h2>Willkommen bei der DMP-Plattform der UB Mannheim</h2>

<p>
    Dieser Dienst unterstützt Forscher*innen bei der Erstellung eines
    Datenmanagement-Plans (DMP). Als Mitglied der Universität Mannheim
    können Sie sich mit Ihrer Uni-ID anmelden.
</p>

<p>
    Mit Hilfe von DMPs können wesentliche Aspekte des
    Forschungsdatenmangements bereits vor Projektbeginn durchdacht und
    festgehalten werden, wie z.B. rechtliche und ethische Belange, in
    den Bereichen der IT-Sicherheit, Dokumentation und
    Qualitätssicherung sowie die Archivierung und die Weitergabe von
    Daten.
</p>

<p>
    Viele Förderorganisationen verlangen inzwischen entweder die
    Einreichung eines DMP oder erwarten zumindest eine kritische
    Auseinandersetzung mit dem Forschungsdatenmanagement im Antrag
    (siehe auch die DMP-Anforderungen auf unserer Webseite). Daher
    stellt diese Plattform verschiedene DMP-Vorlagen zur Verfügung,
    die Sie Schritt für Schritt durch die Checklisten der
    verschiedenen Förderinstitutionen (z.B. DFG, ERC Grant, EU
    Horizon) führen.
</p>

<p>
    Wenn Sie Fragen zu unserem Angebot haben oder Unterstützung bei
    der Erstellung eines DMP benötigen, melden Sie sich gerne bei
    dem <a href="mailto:forschungsdaten@uni-mannheim.de">Team des
    Forschungsdatenzentrums</a> (FDZ) der Universität Mannheim.
</p>
