<h2>Welcome to the Data Management Plan platform hosted by the Mannheim University Library</h2>

<p>
    The Data Management Plan (DMP) platform supports researchers in
    the process of creating a Data Management Plan. As a member of the
    University of Mannheim, you can log in using your university ID.
</p>

<p>
    DMPs can help to think through the key aspects of research data
    management, such as legal and ethical considerations, IT security,
    documentation and quality, as well as archiving and sharing.
</p>

<p>
    Many research funding bodies require you to submit a DMP or at
    least to address research data management in the proposal (see DMP
    requirements on our website). Therefore, this platform provides
    several DMP templates that guide you step-by-step through
    funder-specific checklists, e.g. DFG, ERC Grant, EU Horizon, to
    meet their requirements.
</p>

<p>
  If you have any questions about the service or need assistance in
  creating a DMP, please don’t hesitate to contact
  the <a href="mailto:forschungsdaten@uni-mannheim.de">team of the
  research data center</a> (FDZ) at the University of Mannheim.
</p>
