<h2>Willkommen bei der DMP-Plattform der UB Mannheim</h2>

<p>
    Dieser Dienst unterstützt Forscher*innen bei der Erstellung eines
    Datenmanagement-Plans (DMP). Als Mitglied der Universität Mannheim
    können Sie sich mit Ihrer Uni-ID anmelden.
</p>

<p>
    DMPs können Ihnen bei der Analyse der Schlüsselaspekte des
    Forschungsdatenmanagements helfen, beispielsweise hinsichtlich
    rechtlicher und ethischer Belange, in den Bereichen der
    IT-Sicherheit, Dokumentation und Qualitätssicherung, wie auch bei
    der Archivierung und Verbreitung.
</p>

<p>
    Zahlreiche Fördereinrichtungen setzen die Einreichung eines DMP
    entweder voraus oder erwarten, dass das Forschungsdatenmanagement
    in einem Antrag berücksichtigt wird (siehe auch die
    DMP-Anforderungen auf unserer Webseite). Zu diesem Zweck stellt
    diese Plattform mehrere DMP-Vorlagen zur Verfügung, die Sie
    Schritt für Schritt durch Förderer-spezifische Checklisten führen,
    z.B. für die DFG, ERC Grant und EU Horizon.
</p>

<p>
    Wenn Sie Fragen zu unserem Angebot haben oder Unterstützung bei
    der Erstellung eines DMP benötigen, melden Sie sich gerne bei
    dem <a href="mailto:forschungsdaten@uni-mannheim.de">Team des
    Forschungsdatenzentrums</a> (FDZ) der Universität Mannheim.
</p>
